body {
    display: flex;
    flex-direction: column;
    background-color: grey;
    margin: 0;
    font-family: "Nunito Sans";
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 15px 100px 15px 100px;
    background-color: #020204;
}

.logo {
    height: 30px
}

nav {
    margin-left: auto;
}

ul {
    font-family: "Nunito Sans";
    font-weight: 200;
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.heroSection {
    background-color: #020204;
    background-image: url(images/heroimagesmall.jpeg);
    background-position: center right 200px;
    background-repeat: no-repeat;
    padding-left: 200px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
}

.heroButton {
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    margin: 10px;
    border-radius: 8px;
    border: 0;
    background-color: #25283D;
    color: white;
}

.services {
    /* border: solid greenyellow; */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #020204;
}

.service-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 57px
}

.info {
    display: block;
    text-align: center;
    margin: 40px 0
}

.text {
    padding: 10px;
    text-align: justify;
}

.hero-container .text {
    max-width: 580px;
}

.info-container .text {
    text-align: center;
    width: 300px;
    font-size: 20px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #25283D;
}

.testimonials .text {
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
    text-align: left;
    width: 890px;
    line-height: 95%;
}

.name {
    text-align: right;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    width: 880px
}

.CTA {
    font-size: 30px;
    padding: 90px;
    background-color: #020204;
}

.CTA-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #25283D;
    border-radius: 15px;
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

.icon {
    width: 40px;
    height: 40px;
}

h1, h2 {
    font-family: "Montserrat";
    font-weight: 300;
    padding: 10px;
    margin: 0
}


.header h1 {
    font-size: 50px
}

h2 {
    text-align: center;
    padding: 25px;
    font-size: 40px;
}

a {
    color: white;
    text-decoration: none;
}